<mdc-ripple tag="div" class="emb-digest">
  <div class="emb-hint" v-if="content === null && !failed">
    Loading...
  </div>
  <div class="emb-hint" v-if="content === null && failed">
    <mdc-title>{{ pending ? 'Draft' : 'Post' }} #{{id}} <mdc-caption>is gone.</mdc-caption></mdc-title>
    <mdc-body>Perhaps the entry has been reviewed or deleted?</mdc-body>
  </div>
  <div class="emb-body" v-if="content !== null && type === 'post'">
    <mdc-title>{{ content.title }} <mdc-caption>#{{id}}</mdc-caption></mdc-title>
    <mdc-body>{{ content.content }}</mdc-body>
  </div>
  <div class="emb-body" v-if="content !== null && type === 'step'">
    <mdc-title>{{ content.step.title }} <mdc-caption>${{id}}</mdc-caption></mdc-title>
    <mdc-body v-if="!content.step.parent">Orphan Instruction<mdc-body>
    <mdc-body v-if="content.step.parent">Parent: ${{content.step.parent}}<mdc-body>
  </div>
</mdc-ripple>