<mdc-ripple tag="div" class="emb-digest" :classes="['emb-digest']">
  <div class="emb-hint" v-if="content === null && !failed">
    Loading...
  </div>
  <div class="emb-body" v-if="content === null && failed">
    Loading failed. Perhaps the entry has been reviewed or deleted?
  </div>
  <div class="emb-body" v-if="content !== null && type === 'post'">
    <mdc-title>{{ content.title }} <mdc-caption>#{{id}}</mdc-caption></mdc-title>
    <mdc-body>{{ content.content }}</mdc-body>
  </div>
</mdc-ripple>