<main :class="{ narrow: msgs.length > 0, middle: msgs.length === 0 }">
  <mdc-display><mdc-icon icon="inbox"></mdc-icon> Inbox</mdc-display>
  <mdc-card v-for="m of msgs" class="card-gap inbox-card" :key="m.id">
    <mdc-card-header>
      <span v-if="'WaitingReview' in m.content">Pending Review</span>
      <span v-if="'ReviewPassed' in m.content">Accepted</span>
      <span v-if="'ReviewRejected' in m.content">Rejected</span>

      <span v-if="'StepCreated' in m.content">New Instruction</span>
      <span v-if="'StepAssigned' in m.content">New Assignment</span>

      <span v-if="'Group' in m.rcpt" class="group-ind">
        <mdc-icon icon="arrow_right"></mdc-icon>
        {{ m.rcpt.Group }}
        <mdc-icon icon="group"></mdc-icon>
      </span>

      <div class="inbox-time">{{ formatTime(m.time) }}</div>
    </mdc-card-header>
    <mdc-card-text>
      <emb-digest
        @click.native="toPost(m)"
        v-if="'WaitingReview' in m.content"
        type="post"
        :id="m.content.WaitingReview.id"
        :pending="true"></emb-digest>

      <emb-digest
        @click.native="toPost(m)"
        v-if="'ReviewPassed' in m.content"
        type="post"
        :id="m.content.ReviewPassed.id"
        :pending="false"></emb-digest>

      <mdc-body v-if="'ReviewRejected' in m.content">
        <mdc-icon icon="format_quote" class="dimmed"></mdc-icon>{{ m.content.ReviewRejected.comment }}
      </mdc-body>
      <emb-digest
        @click.native="toPost(m)"
        v-if="'ReviewRejected' in m.content"
        type="post"
        :id="m.content.ReviewRejected.id"
        :pending="true"></emb-digest>

      <emb-digest
        @click.native="toStep(m)"
        v-if="'StepCreated' in m.content"
        type="step"
        :id="m.content.StepCreated.id"></emb-digest>

      <emb-digest
        @click.native="toStep(m)"
        v-if="'StepAssigned' in m.content"
        type="step"
        :id="m.content.StepAssigned.id"></emb-digest>
    </mdc-card-text>
    <mdc-card-actions>
      <mdc-card-action-button @click="done(m)"><i class="material-icons mdc-button__icon">archive</i>Move to Backlog</mdc-card-action-button>
    </mdc-card-actions>
  </mdc-card>
  <div class="backboard" v-if="msgs.length === 0">
    <mdc-icon icon="wb_sunny"></mdc-icon>
    <div class="hint">All Done!</div>
  </div>
</main>