<!DOCTYPE>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Console KLYR</title>

  <link rel="stylesheet" href="https://fonts.proxy.ustclug.org/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.proxy.ustclug.org/icon?family=Roboto">
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://unpkg.com/simplemde/dist/simplemde.min.css">
  <script src="https://unpkg.com/babel-polyfill/dist/polyfill.min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.min.js"></script>
  <script src="https://unpkg.com/vue-mdc-adapter/dist/vue-mdc-adapter.min.js"></script>
  <script src="https://unpkg.com/moment/min/moment-with-locales.min.js"></script>
  <script src="https://unpkg.com/simplemde/dist/simplemde.min.js"></script>
  <script src="https://unpkg.com/markdown-it/dist/markdown-it.min.js"></script>
  <script src="/static/script.js"></script>
</head>

<body onload="bootstrap()">
  <div id="app">
    <mdc-layout-app>
      <mdc-toolbar slot="toolbar" fixed>
        <mdc-toolbar-row>
          <mdc-toolbar-section align-start>
            <mdc-toolbar-menu-icon event="toggle-drawer">
            </mdc-toolbar-menu-icon>
            <mdc-toolbar-title>{{ title }}</mdc-toolbar-title>
          </mdc-toolbar-section>
          <mdc-toolbar-section align-end>
            <div class="toolbar-time">
              <div class="toolbar-day">{{ chrono.day }}</div>
              <div class="toolbar-time-clock">
                <span class="toolbar-time-seg">{{ chrono.hour }}</span>
                :
                <span class="toolbar-time-seg">{{ chrono.min }}</span>
                :
                <span class="toolbar-time-seg">{{ chrono.sec }}</span>
              </div>
            </div>
            <mdc-toolbar-icon v-if="!user" @click="login = true" icon="account_circle"></mdc-toolbar-icon>
          </mdc-toolbar-section>
        </mdc-toolbar-row>
      </mdc-toolbar>

      <mdc-drawer slot="drawer" toggle-on="toggle-drawer" persistent>
        <mdc-drawer-list>
          <mdc-drawer-item start-icon="inbox" :to="{ name: 'Inbox' }">Inbox</mdc-drawer-item>
          <mdc-drawer-divider></mdc-drawer-divider>
          <mdc-drawer-item start-icon="art_track" :to="{ name: 'Home' }">News</mdc-drawer-item>
          <mdc-drawer-item start-icon="call_split" :to="{ name: 'TreeView' }">Reactor</mdc-drawer-item>
          <mdc-drawer-item start-icon="timer" :to="{ name: 'Chronometer' }">Chronometer</mdc-drawer-item>
        </mdc-drawer-list>
      </mdc-drawer>

      <transition name="fade" mode="out-in">
        <router-view
          @snack="snack($event)"
          :msgs="msgs"
          :steps="steps"
          :chrono="chrono"
          :chrono-desc="chronoDesc"></router-view>
      </transition>

      <mdc-snackbar ref="snackbar"></mdc-snackbar>
    </mdc-layout-app>

    <mdc-dialog v-model="login"
      title="Login" accept="Login"
      @accept="doLogin()">
      This will send a notice to author's inbox, and leave the draft in pending state.
      Future editions will result in new messages in your inbox.

      <mdc-textfield box label="Username" class="expand-width" v-model="username"></mdc-textfield>
      <mdc-textfield box label="Password" type="password" class="expand-width" v-model="password"></mdc-textfield>
    </mdc-dialog>
  </div>
</body>

</html>