$mdc-theme-primary: #455a64;
$mdc-theme-accent: #1976d2;
$mdc-theme-background: #fff;

@import 'vue-mdc-adapter/dist/styles';
@import 'styles/fix';
@import 'styles/transitions';

.mdc-layout-app--content-wrapper {
  background: #eceff1;
}

main {
  max-width: 900px;
  padding: 60px 40px;
  margin: 0 auto;
}

.expand-width {
  width: 100%;
  .mdc-textfield {
    width: 100%;
  }
}