.step-status, .info-status {
  color: rgba(0,0,0,.54);

  > h4 {
    display: flex;
    align-items: center;

    .material-icons {
      margin-right: 5px;
      margin-left: 10px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
